<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dunwen.greenschicken">
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <application>
    <provider
        android:authorities="com.dunwen.greenschicken.InitProvider"
        android:name=".InitProvider"/>
  </application>
</manifest>
